* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#ava {
    width: 60%;
    /* background-color: white; */
    border-radius: 15px 15px 0 0;
    margin-top: 15px;
    /* padding: 35px; */
}

.texts {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* outline: solid red; */
    justify-content: center;
    align-items: center;
    height: 65px;
    margin-bottom: auto;
    font-size: 12px;
    /* line-height: 6px; */

    
}

.texts h2 {
    font-size: 20px;
}
.texts h3 {
    margin-bottom: auto;
    font-size: 12px;
    font-weight: normal;
    opacity: 70%;
    
}

.texts p {
    color: rgb(252, 207, 7);
    cursor: pointer;
}

.md {
    /* background: red; */
    width: 78%;
    font-size: 10px;
    margin-top: 10px;

}

.md p{
    margin-top: 5px;
    opacity: 80%;
    line-height: 12px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin: 10px 0;
    border: none;
}
.btn {
    width: 48%;
    /* height: 20px; */
    background: white;
    border-radius: 7px;
    padding: 7px 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: small;
    border: none;
}



.inn1, .inn2 {
    
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.inn2 {
    width: 80%;
}

.inn1 {
    width: 60%;
}

.twt {
    background: rgb(46, 104, 211);
    /* border: none; */
    color: white;
    /* color: red; */
}


.interests {
    margin-bottom: 15px;
}
.footer {
    background-color: #1A1B21;
    margin-top: 15px;
    /* color: red; */
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.inner i {
    font-size: 23px;
    /* background: #787879; */
    color: #43444b;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.inn1 a {
    color: black;
}

.inner i:hover {
    color: white;
}

.inner {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
