.container {
	background: rgb(59, 59, 59);
	width: 417px;
	height: 70vh;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.562);
    box-sizing: border-box;
	
}

.container h1 {
	font-size: 180px;
	padding: 0px;
	margin: -40px -0px 0px 0px;
	/* font-family: Georgia, 'Times New Roman', Times, serif; */
	/* color: white; */
	/* color: rgb(45, 45, 105); */
	color: #020024;
}

.container h2 {
	font-size: 30px;
	letter-spacing: 2px;
}