
.container {
  background: white;
  /* width: 400px; */
  height: 375px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 0 55px rgba(27, 58, 73, 0.171);
}

#headerimg {
  border-radius: 15px 15px 0 0;
}

#img {
  border-radius: 100%;
  border: white solid 7px;
  margin-top: -47px;
}

#line {
  background: rgba(0, 0, 0, 0.144);
  height: 2px;
  /* outline: solid red; */
  width: 100%;
  margin-top: 20px;
}

#userinfo {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: solid yellow; */
  font-size: smaller;
}

#userinfo span{
  opacity: 60%;
  font-weight: normal;
}

.lower {
  display: flex;
  justify-content: space-around;
  /* outline: solid yellow; */
  width: 80%;
  margin-top: 15px;

}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* outline: solid red; */
  font-size: medium;
}

.tag {
  font-size: small;
  /* outline: solid yellow; */
  opacity: 60%;
}